---
import { Image } from 'astro:assets';
import { getCollection, render } from 'astro:content';

interface Props {
  id: string;
  idx: number;
}

const { id, idx } = Astro.props as Props;

const services = await getCollection('services');

const service = services.find((s) => s.slug === id);

if (!service) {
  throw new Error(`Service with id ${id} not found`);
}

const { slug, data } = service;

const { title, image } = data;

const { Content } = await render(service);
---

<article
  id={slug}
  class="flex flex-col lg:flex-row justify-center !gap-x-[1rem] lg:!gap-0 lg:py-[4rem]"
>
  <div
    class:list={[
      'basis-1/2 ',
      idx % 2 === 0 ? 'order-2 lg:order-1' : 'order-2 lg:order-2',
    ]}
  >
    <Image
      src={image}
      alt={title}
      class="object-cover h-full w-auto lg:rounded-lg hover:shadow-2xl transition-shadow duration-500"
      transition:name={`img-${slug}`}
    />
  </div>
  <div
    class:list={[
      'flex flex-col justify-center basis-1/2 px-[1rem] lg:px-0',
      idx % 2 === 0 ? 'order-1 lg:order-2 lg:pl-[1rem]' : 'order-1 lg:order-1',
    ]}
  >
    <h2
      class="text-2xl lg:text-[2rem] font-[100] leading-10 hover:text-teal-500 transition-colors duration-500 cursor-default"
    >
      {title}
    </h2>
    <div class="prose font-[300]">
      <Content />
    </div>
  </div>
</article>
