---
import { getCollection } from 'astro:content';

import ServiceFeat from '@components/services/Service.astro';

const services = await getCollection('services');
---

<section class="w-full flex flex-col justify-center my-8 lg:my-16">
  {services.map(({ slug }, idx) => <ServiceFeat id={slug} idx={idx} />)}
</section>

<style is:global lang="scss">
  .modal-service {
    max-width: unset !important;
    width: fit-content;
    padding-inline: 2rem !important;
    padding-right: 3.5rem !important;

    strong {
      font-family: 'AlexBrush', cursive;
      font-size: 2.5rem !important;
    }

    .modal-content {
      max-height: 80vh;
      overflow-y: auto;
    }
  }
</style>

<script>
  import { modal } from 'webcoreui';

  document.addEventListener('astro:page-load', () => {
    document.querySelectorAll('[data-slug]').forEach((el) => {
      const slug = el.getAttribute('data-slug');
      modal({
        trigger: `.trigger-${slug}`,
        modal: `.modal-${slug}`,
        onOpen: () => {
          console.log(`Modal for service ${slug} opened`);
        },
      });
    });
  });
</script>
