---
import { Image } from 'astro:assets';
import { Button, Modal } from 'webcoreui/astro';
import { marked } from 'marked';
import { capitalize } from '@utils/string';

import { getCollection } from 'astro:content';

interface Props {
  id: string;
  idx: number;
}

const { id, idx } = Astro.props as Props;

const services = await getCollection('services');

const service = services.find((s) => s.slug === id);

if (!service) {
  throw new Error(`Service with id ${id} not found`);
}

const { slug, data } = service;

const { title, imageSection: image } = data;

const rawContent = service.body;

const [mainContent = '', modalContent = ''] = rawContent.split('<!--modal-->');
---

<article
  data-aos="fade-up"
  data-aos-offset="0"
  data-aos-delay="0"
  id={slug}
  data-slug={slug}
  class="flex flex-col lg:flex-row justify-center !gap-x-8 !py-1 group"
>
  <div
    class:list={[
      'basis-1/2 justify-center flex items-center',
      idx % 2 === 0 ? 'order-2 lg:order-1' : 'order-2 lg:order-2',
    ]}
  >
    <Image
      src={image}
      alt={title}
      loading="eager"
      class="object-cover w-auto aspect-video rounded-md shadow-2xl image-service"
      transition:name={`img-${slug}`}
    />
  </div>
  <div
    class:list={[
      'flex flex-col justify-center basis-1/2 px-[1rem] lg:px-0 !gap-2',
      idx % 2 === 0 ? 'order-1 lg:order-2 lg:pl-[2rem]' : 'order-1 lg:order-1',
    ]}
  >
    <h2
      class="font-[100] leading-10 group-hover:text-caputi transition-colors duration-500 cursor-default text-center"
    >
      {title}
    </h2>
    <div
      class="prose font-[300] text-justify !max-w-full"
      set:html={marked.parse(mainContent)}
    />

    {
      Boolean(modalContent.length) && (
        <Button className={`trigger-${slug}`} theme="flat">
          Más información
        </Button>
      )
    }
  </div>
</article>

<Modal
  className={`modal-${slug} modal-service`}
  title={`Los servicios de ${capitalize(title)} incluyen:`}
>
  <div
    class="modal-content prose font-[300]"
    set:html={marked.parse(modalContent)}
  />
</Modal>

<style lang="scss">
  .image-service {
    height: 250px;
  }

  @media (min-width: 640px) {
    .image-service {
      height: 250px;
    }
  }

  @media (min-width: 1024px) {
    .image-service {
      height: 275px;
    }
  }

  @media (min-width: 1280px) {
    .image-service {
      height: 300px;
    }
  }

  @media (min-width: 1536px) {
    .image-service {
      height: 350px;
    }
  }

  @media (min-width: 1920px) {
    .image-service {
      height: 400px;
    }
  }
</style>
