---
import Help from '@assets/home/help.svg?raw';

interface Props {
  label: string;
  placeholder?: string;
  id: string;
  error?: string;
  type?: 'text' | 'email' | 'tel' | 'number' | 'date' | 'textarea';
  required?: boolean;
  helperText?: string;
  pattern?: string;
}

const {
  id,
  error,
  label,
  pattern,
  required,
  helperText,
  placeholder,
  type = 'text',
} = Astro.props;
---

<div class="w-full">
  <div class="flex flex-row !gap-x-[0.5rem] align-middle">
    <label
      class="block uppercase tracking-wide text-gray-700 text-xs font-semibold mb-2"
      for={id}
    >
      {label}
    </label>
    {
      helperText && (
        <span data-tooltip={helperText}>
          <Fragment set:html={Help} />
        </span>
      )
    }
  </div>
  {
    type === 'textarea' ? (
      <textarea
        id={id}
        name={id}
        required={required}
        placeholder={placeholder}
        rows="3"
        class:list={[
          error ? 'border-red-500' : 'border-gray-200',
          'appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-[#ffffff]',
        ]}
      />
    ) : (
      <input
        id={id}
        type={type}
        name={id}
        pattern={pattern}
        required={required}
        placeholder={placeholder}
        class:list={[
          error ? 'border-red-500' : 'border-gray-200',
          'appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-[#ffffff]',
        ]}
      />
    )
  }
  {error && <p class="text-red-500 text-xs italic">{error}</p>}
</div>
