---
interface Props {
  title?: string;
  hrefTitle?: string;
  formText?: string;
}

const { title, hrefTitle, formText } = Astro.props;
---

<section
  data-aos="fade-in"
  data-aos-offset="50"
  class="relative flex flex-col justify-center"
>
  {
    title && (
      <div class="flex flex-col items-center justify-center !gap-4 my-2">
        {hrefTitle ? (
          <a id="fast-contact" href={hrefTitle} aria-label={title} class="">
            <h1 class="text-2xl lg:text-5xl text-center hover:text-caputi transition-colors duration-300">
              {title}
            </h1>
          </a>
        ) : (
          <h1 class="text-2xl lg:text-5xl text-center hover:text-caputi transition-colors duration-300">
            {title}
          </h1>
        )}
      </div>
    )
  }

  {
    formText && (
      <div class="flex flex-col items-center justify-center ">
        <a
          id="fast-contact"
          href="/contacto"
          aria-label={formText}
          class="font-cinzel underline text-lg lg:text-2xl text-center cursor-pointer hover:text-caputi transition-colors duration-300"
        >
          {formText}
        </a>
      </div>
    )
  }
</section>

<style lang="scss">
  .blur-light {
    //width: 40px;
    //height: 40px;
    //border-radius: 50%;
    //background-color: #fff;
    box-shadow:
    /* inner white */
      0 0 40px 10px #fff,
      /* middle magenta */ 0 0 45px 15px rgb(253, 190, 0),
      /* outer cyan */ 0 0 60px 30px rgb(255, 247, 0);
  }
</style>
