---
import type { AstroComponentFactory } from 'astro/runtime/server/index.js';
import { Image } from 'astro:assets';

interface Props {
  title: string;
  subtitle?: string;
  image: ImageMetadata;
  imagePosition: 'left' | 'right';
  Content: AstroComponentFactory;
}

const { title, subtitle, image, imagePosition, Content } = Astro.props as Props;
---

<article>
  <div class="flex flex-col lg:flex-row justify-center !gap-x-[1rem]">
    <div
      class:list={[
        'basis-1/2 ',
        imagePosition === 'left' ? 'order-2 lg:order-1' : 'order-2 lg:order-2',
      ]}
    >
      <Image
        src={image}
        alt={title}
        class="object-cover h-full w-auto rounded-lg hover:shadow-2xl transition-shadow duration-500"
        transition:name={`img-${title}`}
      />
    </div>
    <div
      class:list={[
        'flex flex-col justify-center basis-1/2 px-[1rem] lg:px-0',
        imagePosition === 'left'
          ? 'order-1 lg:order-2 lg:pl-[1rem]'
          : 'order-1 lg:order-1',
      ]}
    >
      <h2
        class="text-2xl lg:text-[2rem] font-[100] leading-10 hover:text-teal-500 transition-colors duration-500 cursor-default"
      >
        {title}
      </h2>
      {
        subtitle && (
          <p class="text-lg lg:text-xl font-[300] text-gray-500">{subtitle}</p>
        )
      }
      <div class="prose">
        <Content />
      </div>
    </div>
  </div>
</article>
