---
import { Carousel } from 'webcoreui/astro';
import { getCollection } from 'astro:content';

import Card from '@components/services/Card.astro';

const services = await getCollection('services');

console.log('Services:', services);
---

<section class="relative mb-[4rem]">
  <h1
    class="text-2xl lg:text-[2rem] font-[100] text-center leading-10 my-[2rem]"
  >
    Nuestros servicios
  </h1>

  <Carousel items={services.length}>
    {
      services.map((service) => (
        <li>
          <Card
            slug={service.slug}
            title={service.data.title}
            description={service.data.description}
            image={service.data.image}
          />
        </li>
      ))
    }
  </Carousel>
</section>
